.contributing {
  padding: 5rem 0;
}

.contribute_box {
  padding: 5rem 4rem;
  :global img {
    width: 100px;
    margin-bottom: 2rem;
  }
  :global p{
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.contribute_box__featured {
  border: 4px solid #e8f3fb;
  border-radius: 5px;
}