.title {
position: relative;
z-index: 1;
}

.title__before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin-top: .8rem;
  margin-left: -.5rem;
  z-index: -1;
}
.title_sub {
  max-width: 400px;
  margin-top: 2rem;
}
